PORT=4000
ENV=development

DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASS=root
DB_NAME=coretax_sync

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

MINIO_STORAGE_ENDPOINT=min.io
MINIO_STORAGE_PORT=9000
MINIO_STORAGE_SSL=false
MINIO_STORAGE_KEY=
MINIO_STORAGE_SECRET=
MINIO_STORAGE_BUCKET=coretax

NUSAWORK_API_URL=https://nusawork.com
NUSAWORK_CLIENT_ID=
NUSAWORK_CLIENT_SECRET=
